<sm-menu class=" inverted blue ">
  <div class=" item">
    <i class="tasks icon"></i>
  </div>
  <a href="" class="header item" style="font-size:18px;" routerLink='/homePage'>TodoApp</a>
  <sm-menu class="right menu pr-4">
    <a routerLink='/user/profile' class="item">Hey {{userName}}</a>
    <sm-button href="" class="item " icon="sign out" (click)="SignOut()">Logout</sm-button>
  </sm-menu>
</sm-menu>
<!-- Navbar Ends and List of tasks Starts -->
<h1 class=" text-center">{{type.toUpperCase()}}</h1>
<div class="d-flex justify-content-end container">
</div>
<!-- ================================================================ -->
               <!--     Starting of List        -->
<!-- ================================================================ -->
<div class="container mb-3">
  <div class="ui stackable grid">
    <sm-segment class="eight wide column" *ngFor="let status of status; let j= index" >
      <h3 class="text-center">{{status.status.toUpperCase()}}</h3>
      <!-- <sm-list> -->
      <div cdkDropList (cdkDropListDropped)="drop($event,status.status)"   id='{{j}}' [cdkDropListConnectedTo]="noOfStatArray">
        <div *ngFor='let todo of todos ; let i = index' [@openClose]="fadingArray[i] ? 'closed' : 'open'" cdkDrag>
          <div *ngIf="todo.taskStatus=== status.status ">
            <!-- <div class="row" >
          <div class="col-md-6"> -->
            <sm-segment class="mt-1 raised  blue"><span style="font-size:1.2em;font-weight:500">{{todo.work}}</span> -
              <span *ngIf="todo.daysDelayed>0 ;else elsePart" class="text-success" style="font-size:1em;">Remaining days
                are
                {{todo.daysDelayed}}</span>
              <ng-template class="text-danger" #elsePart> <span class="text-danger"
                  style="font-size:1.2em;font-weight: 500">Pending since {{-todo.daysDelayed}} days
                </span> </ng-template>
              <div class="mt-2">
                <span class="d-flex justify-content-end ">
                  <sm-button *ngIf="!updateArray[i]" class="basic purple" id="updateBtn" icon="pencil alternate"
                    (click)="update(i)"></sm-button>
                  <sm-button class="basic green" icon="check" *ngIf="!updateArray[i]"
                    (click)="completed(todo.id,i,status.status,todo.priority)"></sm-button>
                  <sm-button class=" basic red" icon="close " *ngIf="!updateArray[i]"
                    (click)="delete(todo.priority,status.status,todo.id)"></sm-button>
                </span>
              </div>
              <!-- </div>
        </div> -->
              <!-- <div class="row" >
          <div class="col-md-6"> -->
              <div *ngIf="updateArray[i]">
                <form class="form-group">
                  <input type="text" class="form-control" placeholder="Work" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="work">
                  <br>
                  <input type="date" class="form-control" placeholder="completion date"
                    [ngModelOptions]="{standalone: true}" value="{{currentDate | date:'MM/dd/yy'}}"
                    [(ngModel)]="completionDate">
                  <br>
                  <input *ngIf='type ==="office"' type="text" class="form-control" placeholder="Assign Task"
                    [ngModelOptions]="{standalone: true}" [(ngModel)]="assignTask">
                  <br>
                  <sm-button class="basic olive" (click)="updateTodo(todo.id,i)">Update</sm-button>
                </form>
              </div>

              <!-- </div>
          </div> -->
            </sm-segment>
          </div>
        </div>
        <div class=" text-center">
          <sm-button *ngIf="!taskAddition[j]" class="circular basic blue mt-2 medium"
            title="Add type of work you want to complete(like Shopping, Grocery ... )" icon="plus"
            (click)="toggleTask(j)"> </sm-button>
            <sm-button *ngIf="taskAddition[j]" class="circular basic blue mt-2 medium"
            title="Add type of work you want to complete(like Shopping, Grocery ... )" icon="minus"
            (click)="toggleTask(j)"> </sm-button>
        </div>
      </div>

    
      <div class="container" *ngIf="taskAddition[j]">
        <h1 class="text-center text-danger">Add Task </h1>
        <form class="form-group">
          <label for="">Task :</label>
          <input type="text" class="form-control" placeholder="Work" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="work" required>
          <br>
          <label for="">Completion Date :</label>
          <input type="date" class="form-control" placeholder="completion date" [ngModelOptions]="{standalone: true}"
            required [(ngModel)]="completionDate">
          <br>
          <label *ngIf='type ==="office" ' for="">Assign Task to <sub>Optional</sub></label>
          <input *ngIf='type ==="office"' type="text" class="form-control" placeholder="Write Email Address"
            [ngModelOptions]="{standalone: true}" [(ngModel)]="assignTask">
          <br>
          <button class="btn btn-outline-primary" (click)="makeTodo(j,status.status)">Add To List</button>
        </form>
      </div>


      <!-- </sm-list> -->
      <!--==================== First list ends , Second starts =========== -->
    </sm-segment>
    <div class="eight wide column">
      <sm-segment>
          <form action="" class="form-group" *ngIf="listAddition"> 
             <input type="text" class="form-control" placeholder="Add list" [(ngModel)]="list" [ngModelOptions]="{standalone: true}">
            <p class="text-center m-1">
               <sm-button class=" basic teal" (click)='addList()'>Add List </sm-button>  
            </p>
          </form>
          <p class="text-center m-3" *ngIf="!listAddition">
              <sm-button class="basic green" (click)="toggleList()">Add Another List <i class="clipboard list icon"></i></sm-button>
          </p>
      </sm-segment>
    </div>
  </div>
</div>
<!-- ================================================================ -->
<!--     End of List          -->
<!-- ================================================================ -->
<!-- <div class="container mt-3">
  <form action="" class="form-group">
    <input type="text" class="form-control" placeholder="Add list" [(ngModel)]="list" [ngModelOptions]="{standalone: true}">
    <p class="text-center">
      <sm-button class=" basic teal" (click)='addList()'>Add List </sm-button>  
    </p>
  </form>
</div> -->

<!-- =============================================================================================================================================================================================================== -->

<div class="container mt-4" *ngIf="type.toLowerCase()==='office'">
  <h3>These Minds also work in <span class="text-danger">{{office}}</span></h3>
  <sm-list class="animated">
    <sm-item *ngFor="let item of user ">
      <sm-segment class="raised colored blue">{{item.userName}} - {{item.email}}
        <!-- <p class="mt-1">
          <sm-button class="basic red" (click)="clickMe($event)" icon="thumbs up">Click Me</sm-button>
      </p> -->
      </sm-segment>
    </sm-item>
  </sm-list>
</div>
<!-- <button (click)='openSnackBar()'>snackBar</button> -->

<!-- <div class="ui grid">
<div class="six wide column" cdkDropList (cdkDropListDropped)="moveItem($event,'l1')"
    [cdkDropListConnectedTo]='secondList' #firstList='cdkDropList'
    [cdkDropListData]='todo'
>
  <sm-segment cdkDrag *ngFor="let todo of todo ">{{todo.work}}  </sm-segment>
</div> 
<div class="six wide column" cdkDropList (cdkDropListDropped)="moveItem($event,'l2')"
    [cdkDropListConnectedTo]='[firstList, thirdList]' #secondList='cdkDropList'
    [cdkDropListData]='doing'
>
  <sm-segment cdkDrag *ngFor="let item of doing">{{item.work}}</sm-segment>
</div> 
<div class="four wide column" cdkDropList (cdkDropListDropped)="moveItem($event,'l3')"
    [cdkDropListConnectedTo]='secondList' #thirdList='cdkDropList'
    [cdkDropListData]='done'
>
  <sm-segment cdkDrag *ngFor="let item of done">{{item.work}}</sm-segment>
</div> 
</div> -->