<div id="loginComp"  style="font-family: 'Courier New', Courier, monospace   ">

<div class=" backColor" >
<div  id="seg">
<h1 class="text-center  display-4 mt-4 ">Sign In With</h1>

<div class=" ">
  <form class="form-group "  style="margin: 10% 20%;margin-top: 5%;">
    <label for="" class="label">Email</label>
    <i class="user icon"></i>
      <input type="email" class="form-control mb-4 user icon"  [(ngModel)]="email" [ngModelOptions]="{standalone: true}" style="font-size: 1.5rem;" >
      <label for="" class="label">Password </label>
      <input type="password" class=" form-control"  style="font-size: 1.5rem;" [(ngModel)]="passwd" [ngModelOptions]="{standalone: true}">
      <sm-button class="red mt-1 big fluid " (click)="signIn()">Sign In</sm-button>
      <sm-button class="teal  large fluid mt-1 "  (click)="doGoogleLogin()">Google <i class="google icon ml-1  " size="large"></i>
      </sm-button>
      <p class=" m-1 text-white">
          Don't have Account ? 
       <a   routerLink="/register">Create Account</a>
      </p> 
  </form>    
</div>
</div>
</div> 
</div>