/* #loginComp{
  background-image: url("https://images.unsplash.com/photo-1469212044023-0e55b4b9745a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60");
  background-repeat: no-repeat;

  background-size: cover;
  height: 100%;
}
.backColor{

    margin: 0 25%;
    padding-bottom:20%; 
   background-color: rgba(250, 142, 100, 0.8);
} */