<h1 class="text-center mt-4 text-info mb-2 display-4">Create New Account</h1>
<div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form class="form-group">
          <input type="email" class="form-control m-1" placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required>
          <input type="password" class="form-control m-1" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" minlength="6" required>
          <input type="text" class="form-control m-1" placeholder="Office Name" [(ngModel)]='officeName' [ngModelOptions]="{standalone:true}">
          <input type="text" class="form-control m-1" placeholder="name" [(ngModel)]='name' [ngModelOptions]="{standalone:true}" required>
          <button class="btn btn-info m-1 btn-block" (click)="signUp()">Sign Up</button>
        </form>        
      </div>
    </div>