<div class="container " style="margin-bottom:50px;">
  <div class="row mb-3 p-0 img" id="groceryImg" >
      <div class="col-md-12   p-4 backColor" >
        <h3 class="text-center p-5 text-warning head">Grocery Work</h3>
        <p class="text-center p-3">
          <button class="btn btn-warning m-3" (click)="openTask(0)">Go to Task</button>
        </p>
      </div>
  </div>
   <div class="row mb-3 p-0 img" id="officeImg" >
    <div class="col-md-12  p-4 backColor" >
       <h3 class="text-center text-warning  p-5 head">Office Work</h3>
       <p class="text-center p-3">
         <button class="btn btn-warning m-3" (click)="openTask(1)">Go to Task</button>
        </p>   
    </div>
   </div>
    <div class="row img" id="collageImg" >
        <div class="col-md-12  p-4 backColor"  >
           <h3 class="text-center text-warning  p-5 head">Collage Work</h3>
           <p class="text-center p-3">
             <button class="btn btn-warning m-3" (click)="openTask(2)">Go to Task</button>
            </p>   
          </div>
    </div> 
  
</div>